section.destacados {
    background-color: #dfe2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.destacados h2 {
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--titulo-h2);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--fuente-ceniza-oscuro);
    padding-bottom: 1.5rem;
}

.destacados__imagen img {
    width: 100%;
}

.destacados__imagen p{
    margin: 1rem 1.5rem;
    font-family: var(--parrafo);
}

a.boton__rojo {
    color: var(--boton-rojo);
    margin-top: 1rem;
}